---
const { title } = Astro.props;
---

<section class="py-20">
  <div class="mx-auto max-w-7xl px-6">
    {title && (
      <h2 class="text-3xl font-bold mb-10">
        {title}
      </h2>
    )}
    <slot />
  </div>
</section>